.settingsBlock {
    padding: 24px;
    background: white;
    border-radius: 4px;
    border: 1px solid #A1A1AA;
}
.input {
    padding-bottom: 12px;
    display: flex;
}

.input span {
    display: block;
    min-width: 200px;
}
