.filter {
    display: inline-flex;
    border-radius: 4px;
    border: 1px solid #A1A1AA;
    height: 30px;
    align-items: stretch;
    color: #52525B;
    font-size: 15px;
    line-height: 21px;
    margin-bottom: 20px;
}

.option {
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.name {

}

.selectedOption {
    color: white;
    background: #52525B;
}

.option + .option {
    border-left: 1px solid #A1A1AA;
}


