* {
    font-family: Inter;
    line-height: 28px;
}

.page {
    padding: 16px;
    min-height: calc(100vh - 32px);
    max-width: 1368px;
    margin: auto;
}



h1 {
    /*font-family: Inter;*/
    /*font-weight: bold;*/
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 16px 0 24px 0;
}

h2 {
    /*font-family: Inter;*/
    font-weight: bold;
    font-style: normal;
    /*font-weight: 500;*/
    font-size: 18px;
    line-height: 28px;
}

.pageHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

.pageHeader > button{
    background: #0EA5E9;
    color: white;
    border: 0;
    border-radius: 8px;
    padding: 10px;
    height: 48px;
    cursor: pointer;
}

.text {
    white-space: pre;
}

.multirow-form {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.multirow-form > label{
    /*display: flex;*/
    /*margin: 12px;*/
    /*align-items: center;*/
}

.multirow-form > label > * {
    /*margin: 4px;*/
    min-width: 120px;
}

.multirow-form  input {
    border-radius: 4px;
    border: 1px solid #CECECE;
    padding: 4px 16px;
}

.rightButton {
    display: flex;
    justify-content: right;
    padding-right: 16px;
}


.addButton {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    border: 1px solid #A1A1AA;
    color: #52525B;
    font-size: 14px;
    line-height: 20px;
    padding: 5px 12px;
    background: white;
    cursor: pointer;

    margin-right: 20px;
    height: 40px;
}

.tableHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

